@model IEnumerable<Web_site1.Domain.Entities.Product>
@{
    ViewData["Title"] = "Товары";
    var userRank = (UserRank)ViewBag.UserRank; // Получаем ранг пользователя
}

<h1>Товары</h1>
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" placeholder="Поиск по имени продукта">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
    <form asp-controller="Warehouse" asp-action="Create_w" method="post">
        <button type="submit" class="btn btn-primary">Создать склад</button>
    </form>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="@item.ProductImageUrl" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>

                    @{
                        // Рассчитываем цену со скидкой
                        decimal discountedPrice = item.Price;
                        switch (userRank)
                        {
                            case UserRank.Bronze:
                                discountedPrice = item.Price * 1m;
                                break;
                            case UserRank.Silver:
                                discountedPrice = item.Price * 0.90m;
                                break;
                            case UserRank.Gold:
                                discountedPrice = item.Price * 0.85m;
                                break;
                        }
                    }

                    <p class="card-text">Цена: @(item.Price.ToString("C"))</p>
                    <p class="card-text">Цена со скидкой: @(discountedPrice.ToString("C"))</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Редактировать</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Удалить</a>
                            <form asp-action="Buy" method="post" asp-route-productId="@item.Id">
                                <button type="submit" class="btn btn-primary">Купить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
