@model IEnumerable<Web_site1.Domain.Entities.Product>

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="@item.ProductImageUrl" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Цена: @(item.Price.ToString("C"))</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Редактировать</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>